
body {
    background: url(../pp.jpg) no-repeat center / cover;
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: 'Lobster', cursive;
}

h1{
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    color: rgb(7, 4, 155);
    
}



.container{
    position: relative;
    justify-content: center;
    display: flex;
    margin: 80px;
}

.card{
    position: relative;
    background: #eee;
    color: #5555fa;
    width: 250px;
    height: 400px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
    transition: all ease-in-out 1s;
    margin-top: -5px;
    

}

.title{

    font-size: 20px;
    padding: 2px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;

}

.price{
    margin-top: -15px;
    text-align: center;
}

.price h5{
    font-size: 30px;
    margin-top: 20px;
    padding: 20px;
}

.price h5 sup{
    font-size: 25px;

}

.price p{
    margin-top: -60px;
    font-size: 12px;
    padding-bottom: 25px;
}

.option{
    position: relative;
    padding: 10px;
}

.option li{
    text-align: center;
    font-size: 15px;
    padding: 8px;
    font-weight: bold;
    list-style: none;
    margin-top: -5px;
}

button {
    width: 100px;
    height: 30px;
    cursor: pointer;
    transition: all ease-in-out 1s;
    color: #5555fa;
    background: #eee;
    border-radius: 25px;
    border: none;
    position: absolute;
    outline: none;
    bottom: 5%;
    left: 30%;
    font-weight: bolder;
    box-shadow: 0 0 8px #0909e6;

}

.card:hover{
    color: rgb(71, 39, 189);
    box-shadow: 0 0 8px #000005e8;
}

.card:hover button{
    background: #eee;
    color:#2525bd;
}